
downloader.xcodeproj/project.xcworkspace/xcuserdata/bijiabo.xcuserdatad/UserInterfaceState.xcuserstate

downloader.xcodeproj/xcuserdata/bijiabo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

downloader.xcodeproj/project.pbxproj

Alamofire/
